- if @order.line_items.blank?
  No rolls yet
- else
  %table.table.table-bordered.table-striped
    %tr
      %th
        User
      %th
        Item Description
    = render :partial => "line_item", :collection => @order.line_items.includes(:user), :as => :line_item
