%tr
  %td
    = line_item.user.name
  %td
    == #{line_item.item.description} (£#{line_item.item.price})
  %td
    - if line_item.owner?(current_user)
      = link_to "Edit", edit_order_line_item_path(@order, line_item), :class => "btn btn-mini"
    - else
      "-"
