%tr
  %td
    = item.user.name
  %td
    == #{item.description} (£#{item.price})
  %td
    - if item.owner?(current_user)
      = link_to "Edit", edit_order_line_item_path(@order, item), :class => "btn btn-mini"
    - else
      -

