- if @order.line_items.blank?
  No items yet
- else
  %table.table.table-bordered.table-striped
    %tr
      %th
        Item
      %th
        Price
      %th
        Edit
    = render :partial => "line_item", :collection => @order.line_items.includes(:user), :as => :line_item
