%h2
  == #{order_type} Orders
.well
  %table.table.table-striped
    %thead
      %tr
        %th
          Status
        %th
          Created
        %th
          Creator
        %th
          Actions
    %tbody
      = render :partial => "order", :collection => orders 
