- @orders.each do |order_type, orders|
  = render :partial => "orders", :locals => {:order_type => order_type.to_s.titleize, :orders => orders}
= link_to t('.new', :default => t("helpers.links.new")), new_order_path, :class => 'btn btn-primary'
