- model_class = Order
%h2
  Open Orders
.well
  = render :partial => "orders", :locals => {:title => "Open", :orders => @orders[:open]}
= link_to t('.new', :default => t("helpers.links.new")), new_order_path, :class => 'btn btn-primary'
