.row
  .span9
    %h1
      == Order ##{@order.id}
    %p
      = render :partial => "order_status"
  .span3
    .well.sidebar-nav
      %p
        Created by
        %span.label.label-info
          %a{:href => "mailto: #{@order.user.email}"}
            = @order.user.name
            %i.icon-envelope
